.blog{
    height: 100%;
}
.blog-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-item{
margin: 0 1rem;
transition: ease-in-out 0.5s;
}

.blog-item:hover{
    transform: scale(1.2);
}

div.blog-item > img{
    width: 250px;
    border-radius: 5px;
}

@media screen and(max-width: 564px){
    .blog-content{
        flex-direction: column;
    }
    div.blog-item > img{
        width: 100%;
    }    

    // .text-dark{
    //     font-size: 100%;
    // }

}