
.card-container{
    height: 100%;
}
.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.card-item:hover{
    transform: scale(1.1);
}

.card-item{
    border-radius: 4px;
    box-shadow: 0px 2px 2px 1px #ccc;
    width: 250px;
    margin: 1rem 0.5rem;
    transition: ease-in-out 0.5s;

}

.card-img{
    position: relative;
    background: #f0f0f0;
    height: auto;
}

.card-img span{
    position: absolute;
    padding: 5px 10px;;
    background: rgb(48, 111, 226);
    color: #fff;
    top: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-transform: uppercase;
}

.card-img img{
    height: 200px;
    width: auto;

}

.card-details{
    padding: 8px;
}

@media screen and(max-width: 563px){
    .cards{
        flex-direction: column;
    }

    .card-item{
        width: 95%;
        justify-content: space-around;
    }

    .text-dark{
        font-size: 100%;
    }
}
